/* Root Styles */
:root {
    --main-bg-color: #e6e6e8;
    --primary-color: #111a70;
    --accent-color: #eb2b2b;
    --primary-font-family: "DM Sans", sans-serif;
}

/* General Styles */


body {
    font-family: "DM Sans", sans-serif;
    background-color: #e6e6e8;
    margin: auto;
}

/* Header Styles */
header {
    font-family: "Roboto", sans-serif;
    width: 100%;
    text-align: center;
    font-size: 15px;
    padding: 30px;
}

.header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
}

.navbar {
    display: flexbox;
    color: #eb2b2b;
}
nav {
    color: #eb2b2b;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1.5;
    font-weight: bold;
    position: absolute;
    right: 100px;
    top: 40px;
}

.navbar a {
    color: #eb2b2b;
    text-decoration: none;
}

.logo {
    width: 250px;
}

/* Main Styles */

h3 {
    width: 100%;
    font-size: 20px;
    color: var(--primary-color);
    text-align: center;
} 

.hero {
    width: 100%;
}

.section-services {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

.service {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 30%;
    border: var(--primary-color) solid 2px;
    border-radius: 20px;
    margin: 20px;
}

.service-image {
    width: 85%;
    padding: 10px;
    display: flex;
    margin: auto;
    border-radius: 20px;
}
.button-div {
    display: flex;
    margin: auto;
    padding-bottom: 20px;
}
.button {
    border: none;
    border-radius: 40px;
    background-color: #eb2b2b;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

h1 {
    color: var(--primary-color);
    text-align: center;
    font-family: var(--primary-font-family);
    font-size: 30px;
}
.contactus {
    margin: auto;
    padding: 30px;
    font-size: 30px;
}
.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    padding: 20px;
    align-items: center;
    border: #eb2b2b solid 5px;
    background-color: #eb2b2b;
    color: #e6e6e8;
    border-radius: 15px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.button-form {
    background-color: var(--primary-color) !important;
    color: #e6e6e8;
    border-radius: 20px;
    border: none;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    font-weight: bold;
}

.aboutus-text {
    font-family: var(--primary-font-family);
    border: var(--accent-color) solid 2px;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 30px;
}
/* Footer Styles */

footer {
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 30px 30px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #111a70;
    height: fit-content;
    box-sizing: border-box;
}
.footer-nav {
    
    columns: #e6e6e8;
    text-decoration: none;
    background-color: #111a70;
    font-weight: 500;
    line-height: 2;
    font-size: 18px;
    font-family:  var(--primary-font-family);
}
.footer-nav a{
    color: #e6e6e8;
    text-decoration: none;
}

.footer-contact {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #e6e6e8;
    margin: auto;
}


.logo-dark {
    width: 250px;
    position: relative;
    display: flex;
    margin-left: auto;
}