/* General Styles */
body {
    font-family: "Roboto", sans-serif;
    background-color: #e6e6e8;
    margin: auto;
}

/* Header Styles */
header {
    display: flexbox;
    font-family: "Roboto", sans-serif;
    width: 100%;
    text-align: center;
    padding: 30px;
    font-size: 16px;
    margin: auto;
}
nav {
    display: flexbox;
    color: #eb2b2b;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.navbar {
   
}
.logo {
    width: 200px;
}
/* Main Styles */
.hero {
    
}

